<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suhaili.kotawaringinbarattourist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Kotawaringin Barat Tourist"
        android:roundIcon="@mipmap/iconround"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotawaringinBaratTourist">
        <activity android:name=".explain"></activity>
        <activity android:name=".about" />
        <activity android:name=".Splash"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>